body {
    background-image: url("Add\ a\ heading.png");
    ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: black;
  }
h1{
    font-size: 40px;
    padding-right: 50px;
    padding-left: 800px;
    color: #5db9ee;
    font-style: bold;
    
} 
h2{
    font-style: italic;
    font-style: bold;
    color: rgb(255, 255, 255);
}
imagesrc{
    width: 5%;
    height: 5%;
    border-radius: 5%;
    margin: 5px;

} 
p{
    font-size: 50px;
    padding-right: 50;
    color: aqua;
    
}
form{
    width: 100%;
    height: 40%;
    padding-left: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    flood-opacity: rgb(0, 191, 255);
    opacity: 100;

}
select{
    width: 30%;
    height: 50%;
    padding: 20px;
    padding-left: 100;

}
input[type=submit] {
    padding:5px; 
    padding-bottom: 100;
    border:2px solid #00eeff; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:10px 60px; 

    padding-bottom:100;
    background:#00fbff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}